extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='', alt='')
  .container
    h1 Blockchain Demo
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
      